{% extends "base_generic.html" %}
{% load static %}
    {% block content %}
    <header class="bg-dark py-5 ">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white may">
                <h1 class="display-4 fw-bolder center-may">Mobile Legends Bang Bang </h1>
                <p class="lead fw-normal text-white-50 mb-0">{{ hero.name }}</p>
            </div>
        </div>
    </header>
    <div class="container rowi width-max">
        <div class="row">
            <div class="tm-left-right-container">
                <div class="tm-center-column" style="color: black;">
                    <figure class="tm-column">
                        <header style="text-align: center;">
                            <h2 class=>{{ hero.name }}</h2>
                            <h3 class="margin-img">Класс: {{ hero.classs }}</h3>
                        </header>
                        <img class="tm-img" style="float:left; margin:10px" src="{{ hero.img.url }}" width="900px" alt="Header image" id="bigPic">
                        <h2>Облики</h2>
                        {% for post in imag %}<div>
                        <a class="tm-nav-item-link" >
                            <img class="tm-tm-img" src="{{ post.image.url }}" width="270" height="155px" onclick="clik(this);">
                        </a></div>
                        {% endfor %}
                            
                        <!-- {% for post in heroe %} 
                        <ul >    
                            <li>ХП: {{ post.hp }}</li>
                            <li>ХП реген: {{ post.hp_regen }}</li>
                            <li>MП: {{ post.mp }}</li>
                            <li>Мана реген: {{ post.mana_regen }}</li>
                            <li>Физическая атака: {{ post.phyatt }}</li>
                            <li>Физическая защита: {{ post.phydef }}</li>
                            <li>Магическая атака: {{ post.magatt }}</li>
                            <li>Магическая защита: {{ post.magdef }}</li>
                            <li>Скорость передвижение: {{ post.mov_speed }}</li>
                            <li>Скорость атаки: {{ post.att_speed }}</li>
                            <li>Физический вампиризм: {{ post.phy_vam }}</li>
                            <li>Магический вампиризм: {{ post.mag_vam }}</li>
                            <li>Базовая вероятность критического удара: {{ post.bas_atk_crit }}</li>
                            <li>Вероятность критического удара способностей: {{ post.ability_crit }}</li>
                        </ul>    
                    {% endfor %} -->
                    
                </div>  
            
            </div> 
        </figure >
        <h3>Описание: {{ hero.description }}</h3>
        <hr>
            <h2>Способности</h2>
        {% for her in abil %}
            <div id="myBtnCont" class="abi">
                <div class="btn btn-success" >
                    <img class="abill"  src="{{ her.img.url }}" width="80px" height="80px">
                    <p>{{her.description}}</p>
                </div>
            </div>
        {% endfor %}

        <a class="btn btn-warning" href="{% url 'home' %}" style="max-width: 1210px;">Назад</a> 
            <div class="tm-blue-bg tm-left-column">
                <div class="tm-logo-div text-xs-center">
                    <h1 class="tm-site-name">
                    {% if hero.group == "fighter" %}
                    <div>Бойцы</div>
                    {% elif hero.group == "tank" %}
                    <div>Танки</div> 
                    {% elif hero.group == "magician" %}
                    <div>Маги</div>
                    {% elif hero.group == "assassin" %}
                    <div>Ассасины</div> 
                    {% elif hero.group == "support" %}
                    <div>Поддержки</div>
                    {% elif hero.group == "shooter" %}
                    <div>Стрелки</div> 
                    {% endif %}   
                    </h1> 
                </div>
                <nav class="tm-main-nav">
                    <ul class="tm-main-nav-ul">
                        {% for hero in heroes %}
                            {% if hero.group == heroClass and hero.name %}
                            <li class="tm-nav-item" onclick="window.location='/main/hero_hero?id={{ hero.id }}&heroClass={{heroClass}}'">
                                <button class="btn btn-success" >
                                    <a class="tm-nav-item-link" style="color:white">
                                        {{ hero.name }}
                                    </a>
                                </button>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>   
        </div> <!-- row -->
    </div> 
    <script type="text/javascript" src="{% static 'js/image.js' %}"></script>
    {% endblock %}